style. 
div#header
    a(href="/index") Home
    |
    |
    |
    a(href="/artists") Artists Page
    |
    |
    |
    a(href="/addArt") Add Artwork Page
    |
    |
    |
    a(href="/addWorkshop") Add Workshop Page
    |
    |
    |
    a(href="/donate") Donate
    |
    |
    |
    a(href="/") Logout
    